{{#conditional-loading-spinner condition=this.isLoading}}

  {{#if this.sortedTags}}
    <div class="table-heading">
      Tags
    </div>
    <ul class="categories-tag-list">
      {{#each this.sortedTags as |t|}}
        <li>{{discourse-tag t.id count=t.count}}</li>
      {{/each}}
    </ul>
    {{#if this.moreTags}}
      <div class="more-tags">
        <a href="/tags" class="btn btn-default">{{i18n "more"}}</a>
      </div>
    {{/if}}
  {{/if}}

{{/conditional-loading-spinner}}